.header {
  display: flex;
  background-color: #2b2b2b;
  color: white;
}

.productSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 10px; */
}

.imageContainer {
  flex: 1;
  position: relative;
}
.textContainer {
  flex: 1;
  padding: 20px;
}
.title {
  font-size: 35px;
}
.description {
  font-size: 16px;
  line-height: 1.3;
  text-align: justify;
  font-weight: 300;
}
