@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

.parentBlock {
  background-color: #2b2b2b;
  color: white;
  padding: 12px 0px;
}

.productSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 10px; */
}

.imageContainer {
  flex: 1;
  position: relative;
}

.image{
  border-radius: 12px;
}

.textContainer {
  flex: 1;
  padding: 20px;
}
.title {
  font-size: 35px;
}
.description {
  font-size: 16px;
  line-height: 1.3;
  text-align: left;
  font-weight: 200;
}

