.container {
  max-width: 900px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #111;
}

.input,
.select {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  outline: none;
  background: #fff;
  margin-bottom: 12px;
}

.card {
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  padding: 12px 12px 0;
  margin-bottom: 12px;
}

.button {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: none;
  background: #0d1321;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.button:hover {
  background: #000000;
}

.editorPreviewWrapper {
  display: flex;
  gap: 30px;
}

.editorSection {
  width: 60%;
}

.previewSection {
  width: 40%;
  border: 1px solid #d1d1d1;
  border-radius: 14px;
  padding: 20px;
  background: grey;
}

.previewTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.previewFormName {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.previewField {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.previewInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
