.container {
  max-width:fit-content;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.fieldCard {
  margin-bottom: 10px;
}

.label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.submitBtn {
  width: 100%;
  margin-top: 20px;
  padding: 15px;
  background: #0d1321;
  color: #fff;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.submitBtn:hover {
  background: #000;
}

.loading {
  text-align: center;
}

.error {
  color: red;
}

.success {
  color: Black;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}
