.layout {
  display: flex;
  min-height: 100vh;
  color: #fff;
}

.main {
  flex-grow: 1;
  padding: 30px;
}

@media (max-width: 767px) {
  .layout {
    flex-direction: column;
    padding: 0;
  }

  .main {
    padding: 20px;
  }
}
