.formContainer {
  padding: 2rem;
  max-width: 700px;
  margin: auto;
}
.container {
  display: flex;
  min-height: 100vh;
  background: #f2f2f2;
}

.sidebar {
  width: 250px;
  background: #000;
  color: #fff;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 2rem;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.navItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff22;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.navItem:hover {
  background-color: #ffffff33;
}

.formName {
  flex-grow: 1;
  font-size: 1rem;
  color: white;
}

.iconGroup {
  display: flex;
  gap: 0.25rem;
}

.iconBtn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.25rem;
  transition: color 0.2s ease;
}

.iconBtn:hover {
  color: #ffcc00;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  padding: 0.75rem;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.select {
  padding: 0.75rem;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 0.5rem;
}

.questionRow {
  display: grid;
  background: #f9f9f9;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #eee;
}

.options {
  margin-top: 1rem;
  padding: 1rem;
  background: #f0f0f0;
  border-radius: 8px;
}

.options label {
  margin-right: 0.5rem;
}

.optionRow {
  display: flex;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.optionRow input {
  flex: 1;
}

.optionRow button {
  color: white;
  border: none;
  /* padding: 0.5rem; */
  border-radius: 4px;
  cursor: pointer;
}

.addBtn {
  background: #444;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.submitBtn {
  background: black;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
