@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

.marketing {
  text-align: center;
  background-color: white;
  padding-top: 20px;
  width: 100%;
}

.marketing h2 {
  font-size: 26px;
}

.sectionContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}

.section {
  width: 300px;
  text-align: center;
}

.content {
  margin-left: max(5%, 12px);
  margin-right: max(5%, 12px);
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.image {
  border-radius: 12px;
}

.title {
  font-size: 26px;
  margin-bottom: 15px;
}

.description {
  font-size: 16px;
  text-align: center;
  line-height: 1.4;
  padding: 0 10px;
}

/* ============================= */
/* Responsive Styles for Mobile */
/* ============================= */
@media (max-width: 768px) {
  .marketing {
    padding: 20px 0px;
  }

  .marketing h2 {
    font-size: 20px;
  }

  /* Stack Sections Vertically */
  .sectionContainer {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .section {
    width: 100%;
    max-width: 400px;
  }

  .content {
    margin: 0px 20px;
  }

  .imageContainer {
    width: 100%;
  }

  .image {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .title {
    font-size: 23px;
  }

  .description {
    font-size: 16px;
    line-height: 1.4;
  }
}

@media (min-width: 769px) and (max-width: 1100px) {
  .marketing {
    padding: 30px 0px;
  }

  .marketing h2 {
    font-size: 24px; 
  }

  .sectionContainer {
    flex-wrap: nowrap;
    gap: 20px;
  }

  .section {
    width: 45%;
    text-align: center;
  }

  .image {
    width: 100%; 
    max-width: 100%; /* Ensure image does not exceed container width */
    border-radius: 10px; 
  }

  .title {
    font-size: 20px;
    margin-bottom: 10px; 
  }

  .description {
    font-size: 14px;
    line-height: 1.5;
    padding: 0 15px;
  }
}
