:root {
  --background: #ffffff;
  --foreground: #171717;
}
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #646464;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.margin-top {
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.margin-right {
  margin-right: max(5%, 12px);
}

.margin-left {
  margin-left: max(5%, 12px);
}

.page-margin {
  margin-left: max(5%, 12px);
  margin-right: max(5%, 12px);
}

.heading-font {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #ededed; 
  }
} */
/* 
@media (min-width: 768px) and (max-width: 1024px) {
  .page-content {
    padding: 40px 0;
  }
}
@media (min-width: 550px) and (max-width: 768px) {
  .page-content {
    padding: 35px 0;
  }
}
@media (min-width: 425px) and (max-width: 550px) {
  .page-content {
    min-height: 500px;
    padding: 30px 0;
  }
}
@media (min-width: 320px) and (max-width: 424px) {
  .page-content {
    min-height: 470px;
    padding: 35px 0;
  }
} */