.container {
  max-width: 900px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #111;
}

.input,
.select {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  outline: none;
  background: #fff;
  margin-bottom: 12px;
}

.card {
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  padding: 12px 12px 0;
  margin-bottom: 12px;
}

.button {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: none;
  background: #0d1321;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.button:hover {
  background: #000000;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  .title {
    font-size: 24px;
    margin-bottom: 16px;
    line-height: 1.3;
    text-align: center;
  }

  .input,
  .select {
    font-size: 0.95rem;
    padding: 10px 12px;
    border-radius: 10px;
  }

  .card {
    border-radius: 16px;
    padding: 12px;
  }

  .button {
    font-size: 0.95rem;
    padding: 14px;
    border-radius: 10px;
  }
}
