.introSection {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 20px;
}

.content {
  display: flex;
  color: white;
}

.imageContainer {
  flex: 1;
  position: relative;
}

.textContainer {
  flex: 1;
}

.steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  font-size: 16px;
  line-height: 1.3;
  text-align: left;
  font-weight: 200;
  padding-left: 30px;
}
