.sidebar {
  width: 250px;
  background: #111;
  padding: 30px 20px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.4);
}

.profileBox {
  margin-bottom: 30px;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
}

.profileName {
  font-weight: bold;
  font-size: 15px;
}

.logoutBtn {
  padding: 10px 15px;
  background: #b54e00;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  width: 100%;
  font-size: 15px;
  transition: 0.2s ease;
}

.logoutBtn:hover {
  background: #933b00;
}

.mobileLogoutIcon {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }

  .profileBox {
    margin: 0;
    width: 100%;
    justify-content: space-between;
  }

  .profileBox img {
    width: 20px;
    height: 20px;
  }

  .logoutBtn {
    display: none;
  }

  .mobileLogoutIcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .main {
    padding: 40px 20px;
    text-align: center;
  }
}
