.container {
  max-width: 900px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #111;
}

.section {
  margin-bottom: 16px;
}

.sectionHeader {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  gap: 5px;
}

.heading {
  font-size: 26px;
  font-weight: bold;
}

.treeList {
  list-style: none;
  /* padding-left: 14px; */
  border-left: 3px solid #b54e00;
  background: #fff;
  border-radius: 8px;
}

.treeItem {
  padding: 10px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
}

.treeItem:hover {
  font-weight: 600;
  background: grey;
}

.actionBtns {
  display: flex;
  gap: 8px;
}

.editBtn {
  background: #0d1321;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.editBtn:hover {
  background: #000;
}

.deleteBtn {
  background: #b54e00;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.deleteBtn:hover {
  background: #933b00;
}

.hrLine {
  color: grey;
}

.empty {
  opacity: 0.6;
  font-size: 16px;
  padding: 6px 0;
}
