.header {
  /* background-color: #5c5c5c; */
  text-align: center;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: center; /* Center logo */
  align-items: center;
  position: relative;
  width: 100%;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  object-fit: contain;
}

.actions {
  position: absolute;
  right: 32px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 8px 16px;
  border-radius: 35px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: white;
  color: black;
}

.searchIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 10px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.nav a:hover {
  text-decoration: underline;
}

