/* Full Header (Visible at top of page) */
.header {
  position: sticky;
  top: 0;
  text-align: center;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;

}

/* Hide Full Header on Scroll */
.hidden {
  transform: translateY(-100%);
}

/* Mini Header (Appears when scrolling) */
.miniHeader {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #5c5c5c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  z-index: 1000;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

/* Show Mini Header when Scrolling */
.miniHeader.visible {
  transform: translateY(0);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  object-fit: contain;
}

.minilogo {
  left: 60px;
  position: absolute;
  align-items: center;
}

.actions {
  position: absolute;
  right: 60px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 8px 16px;
  border-radius: 35px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: white;
  color: black;
}

.searchIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.nav a {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  transition: color 0.2s ease-in-out;
}

/* Underline effect */
.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px; /* Adjust underline position */
  width: 0;
  height: 1px;
  background-color: white;
  transition: width 0.2s ease-in-out; /* Left-to-right effect */
}

/* On hover, expand underline */
.nav a:hover::after {
  width: 100%;
}

/* Active Main Service */
.activeService {
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding-right: 16px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .page-content {
    padding: 40px 0;
  }
}
@media (min-width: 550px) and (max-width: 768px) {
  .page-content {
    padding: 35px 0;
  }
}
@media (min-width: 425px) and (max-width: 550px) {
  .page-content {
    min-height: 500px;
    padding: 30px 0;
  }
}
@media (min-width: 320px) and (max-width: 424px) {
  .page-content {
    min-height: 470px;
    padding: 35px 0;
  }
}
