/* Full Header (Visible at top of page) */
.header {
  position: sticky;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

/* Hide Full Header on Scroll */
.hidden {
  transform: translateY(-100%);
}

/* Mini Header (Appears when scrolling) */
.miniHeader {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #5c5c5c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  z-index: 1000;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

/* Show Mini Header when Scrolling */
.miniHeader.visible {
  transform: translateY(0);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  object-fit: contain;
}

.minilogo {
  left: 32px;
  position: absolute;
  align-items: center;
}

.actions {
  position: absolute;
  right: 32px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 8px 16px;
  border-radius: 35px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: white;
  color: black;
}

.searchIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 24px;
  /* margin-top: 10px; */
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
  padding: 5px;
}

.nav a:hover {
  text-decoration: underline;
  transform: scale(1.1); /* Zooms in by 10% */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Active Main Service */
.activeService {
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: underline;
  padding-right: 16px;
  padding: 5px;
}
