.footer {
  color: white;
  display: flex;
  justify-content: flex-start;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align all left */
}

.logo {
  font-size: 24px;
  margin-bottom: 12px;
}

.navLinks {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.navLinks a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 100;
}

.navLinks a:hover {
  text-decoration: underline;
}

.divider {
  border: 0;
  height: 1px;
  background: #ccc;
  width: 100%;
  margin: 12px 0;
}

.newsletter {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align all left */
}


.emailForm {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 560px;
}

.emailForm input {
  flex: 1;
  padding: min(5%, 12px);
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding-right: min(5%, 80px);
}

.emailForm button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #b54e00;
  color: white;
  border: none;
  padding: min(5%, 12px) min(5%, 20px);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.emailForm button:hover {
  background-color: #933b00;
  border-radius: 25px;
}

.newsletter p {
  font-size: 13px;
  margin-top: min(5%, 10px);
  color: #ccc;
}

.newsletter p a {
  text-decoration: underline;
}

.copyright {
  align-self: flex-end;
  font-size: 14px;
  margin-top: min(5%, 20px);
}
