.parentBlock {
  background-color: #2b2b2b;
  color: white;
}

.productSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 10px; */
}

.imageContainer {
  flex: 1;
  position: relative;
}

.image,
.image2 {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image2 {
  background-color: white;
}

.textContainer {
  flex: 1;
  padding: 20px;
}

.title {
  font-size: 35px;
}

.description {
  font-size: 16px;
  line-height: 1.3;
  text-align: left;
  font-weight: 200;
}

.link {
  display: inline-block;
  margin-top: 8px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  border-bottom: 1px solid transparent;
}

.link:hover {
  color: grey;
  border-bottom: 1px solid grey;
}

.link:visited {
  color: grey;
}

@media (max-width: 768px) {
  .productSection {
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    text-align: center;
    margin: 0px;
  }

  .imageContainer {
    width: 100%;
  }

  .imageContainer img {
    width: 100%;
    min-width: 100%;
  }

  .textContainer {
    width: 100%;
  }

  .title,
  .description {
    text-align: left;
  }

  .title {
    font-size: 26px;
  }

  .description {
    font-size: 16px;
    line-height: 1.4;
  }
}

@media (min-width: 769px) and (max-width: 1100px) {
  .imageContainer {
    width: 56%;
    margin: 0;
  }

  .imageContainer img {
    width: 100%;
    /* height: auto; */
    /* object-fit: fill; */
  }

  .textContainer {
    width: 50%;
    padding: 13px;
  }

  .title {
    font-size: 20px;
  }

  .description {
    font-size: 14px;
  }
}
